	#footer {
		@include vendor('flex-shrink', '0');

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
			@include vendor('display', 'flex');
			@include vendor('flex-wrap', 'wrap');
			@include vendor('justify-content', 'space-evenly');

		}

		.social {
			@include padding(0, _size(padding, default) * 1.5);

			@include breakpoint(medium) {
				@include padding(0, _size(padding, medium) * 1.5);
			}

			@include breakpoint(small) {
				@include padding(0, _size(padding, small));
			}

			li {
				padding: 0 .75rem .75rem .75rem;
			}
		}
		.credits {
			padding-top: 1rem;
			li {
				padding: 0 .5rem .25rem .5rem;
			}

			ul:nth-child(n + 2) {
				padding-top: .75rem;
			}
		}
	}
	@mixin color-credits-border($p: null) {
 		#footer {
			.credits {
				ul {
					li {
						border-color: _palette($p, border);
					}
				}
			}
 		}
	}

	@include color-credits-border;
