#siteheader {
	@include padding(_size(padding, default), _size(padding, header));
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	.logo {
		font-size: 1.5em;
		line-height: 1;
	}

	.menu-toggle {
		display: none;
	}

	.main-menu {

		ul {
			display: flex;
			list-style: none;
			margin: 0;

			padding: 0;
			height: auto;
			width: auto;
			background: none;

			li {
				padding-left: 1em;

				&:first-child {
					padding-left: 0em;
				}
			}
		}

		a {
			text-decoration: none;
		}

		.menu-close {
			display: none;
		}
	}

	@include breakpoint(xlarge) {
		@include padding(_size(padding, header), _size(padding, xlarge));
	}

	@include breakpoint(large) {
		@include padding(_size(padding, header), _size(padding, large));
	}

	@include breakpoint(medium) {
		@include padding(_size(padding, header), _size(padding, medium));
	}

	@include breakpoint(small) {
		@include padding(_size(padding, header), _size(padding, small));
		justify-content: flex-start;

		.menu-toggle {
			display: inline-block;
			margin-right: 1em;
			line-height: 1em;
			font-size: 1em;
			color: _palette(fg);
		}

		.main-menu {
			position: absolute;
			left: -200px;
			top: 0;
			height: 100%;
			overflow-y: scroll;
			overflow-x: visible;
			transition: left 0.3s ease, box-shadow 0.3s ease;
			z-index: 999;

			ul {
				display: block;
				padding: 2.5em 0 0;
				min-height: 100%;
				width: 200px;
				background: #1a1a1a;

				li {
					padding-left: 0;
				}
			}

			a {
				display: block;
				padding: .75em 15px;
				line-height: 1em;
				font-size: 1em;
				color: _palette(invert, fg);
				text-decoration: none;
				border-bottom: 1px solid _palette(invert, border-alt);

				&:hover,
				&:focus {
					background: #333;
					text-decoration: underline;
				}
			}

			li:first-child {
				a {
					border-top: 1px solid _palette(invert, border-alt);
				}
			}

			.menu-close {
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				border-bottom-style: none;
			}

			&:target,
			&[aria-expanded="true"] {
				left: 0;
				outline: none;
				box-shadow: 3px 0 12px _palette(invert, nav-shadow);
			}

			&:target .menu-close,
			&[aria-expanded="true"] .menu-close {
				z-index: 1001;
			}

			&:target ul,
			&[aria-expanded="true"] ul {
				position: relative;
				z-index: 1000;
			}

			&:target + .backdrop,
			&[aria-expanded="true"] + .backdrop {
				position: absolute;
				display: block;
				content: "";
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 998;
				background: _palette(invert, nav-backdrop);
				cursor: default;
			}
		}

		@supports (position: fixed) {
			.main-menu,
			.main-menu:target + .backdrop,
			.main-menu[aria-expanded="true"] + .backdrop {
				position: fixed;
			}
		}
	}
}
