<header id="siteheader">
  {{ with .Site.Menus.main }}
  <a href="#main-menu" role="button" id="main-menu-toggle" class="menu-toggle">
    <span class="fa fa-bars"></span>
  </a>
  {{ end }}

  <h1 class="logo"><a href="/">{{ .Site.Title }}</a></h1>

  {{ $currentPage := . }}
  {{ with .Site.Menus.main }}
  <nav id="main-menu" class="main-menu">
    <a href="#main-menu-toggle" role="button" id="main-menu-close" class="menu-close">
      <span class="fa fa-close"></span>
    </a>
    <ul>
    {{ range . }}
    <li><a class="nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
    {{ end }}
    </ul>
  </nav>
  <a href="#main-menu-toggle" class="backdrop" tabindex="-1" hidden></a>
  {{ end }}
</header>
